<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="parentId" value="0B1IWpTUgXs1xaUI4bDA2WWFlSFU"/>
    <add key="clientSecretPath" value="client_secret.json"/>
  </appSettings>
</configuration>